.icon-wrap {
  padding: 5px;
  background-color: lightblue;
  margin: 15px;
  border-radius: 5px;
  align-items: center;
}

.card {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-size: cover;
  height: 150px;
}

@media screen and (max-width: 750px) {
  .icon-wrap {
    margin: 20px 5px;
  }

  .card {
    width: 70px;
  }
}
